<h1> Dog Match Listings </h1>
<%= form_with model: dog, local: true do |form| %>
    <div>
        <%= form.label :"Listing title" %>
        <%= form.text_field :title, value: dog.title %>
    </div>
    <div>
    <%= form.label :"Description" %>
    <%= form.text_area :description, value: dog.description %>
</div>
</div>
<div>
<%= form.label :"Breed" %>
<%= form.text_area :description, value: dog.description %>
</div>
</div>
<div>
<%= form.label :"Age" %>
<%= form.text_area :description, value: dog.description %>
</div>
</div>
<div>
<%= form.label :"State" %>
<%= form.text_area :description, value: dog.description %>
</div>
</div>
<div>
<%= form.label :"City" %>
<%= form.text_area :description, value: dog.description %>
</div>
</div>
<div>
<%= form.label :"Potty Trained" %>
<%= form.text_area :description, value: dog.description %>
</div>
</div>
<div>
<%= form.label :"Likes Dogs" %>
<%= form.text_area :description, value: dog.description %>
</div>
</div>
<div>
<%= form.label :"Likes Children" %>
<%= form.text_area :description, value: dog.description %>
</div>
</div>
<div>
<%= form.label :picture %>
<%= form.file_field :picture, accept: "image/png,image/gif,image/jpeg,image/jpng" %>
</div>
<div>
    <%= form.submit %>
</div>
<% end %>